<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"></script>
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>
<body>
<div class="container-fluid">
<h1>halllll</h1>
<div class="list-group">
</div>



</div>
</body>
<script src="{{url_for('static', filename='def_js/1.js')}}"></script>
