<head>
<meta charset="utf-8">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="stylesheet" href="{{url_for('static', filename='bootstrap-4.2.1-dist/css/bootstrap.min.css')}}"></script>
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap-4.2.1-dist/js/bootstrap.min.js')}}"></script>
</head>
<body>
this is sample text
<div class="input-group mb-3">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile02">
    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
  </div>
  <div class="input-group-append">
    <span class="input-group-text" id="">Upload</span>
  </div>
</div>
</body>
<script src="{{url_for('static', filename='def_js/1.js')}}"></script>
